
p, a, main1, main2, h1, h2, h3, li, span, .catalogue-title, .post-title, .catalogue-time {
  font-family: "Cantarell";
}

body{
	background: #FAFAFA;
    margin-left: auto;
    margin-right: auto;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}

.main2{
  margin-top: 75px;
  margin-right: auto;
  min-width: 500px;
  margin-left: auto; 
  max-width: calc(50% - 20px);
    }

.main {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.03), 0 1px 3px 1px rgba(0,0,0,0.07), 0 2px 6px 2px rgba(0,0,0,0.03);
  padding: 10px;
  background-color: #FFFFFF;
  margin-right: auto;
    font-size: 18px;  
  margin-left: auto; 
  min-width: 500px;
  max-width: calc(50% - 20px);
  border:1.5px solid #e5e5e5;
  border-radius: 12px;
    }

img {
  max-width: 100%;
}
/* navbar */
.navbar {
  overflow: hidden;
  font-size: 22px;  
  background-color: #EBEBEB;
    margin-left: auto;  
  position: fixed;
  top: 0;
    border:1.5px solid #e5e5e5;
  width: 100%;
  z-index: 99;
}

ul.navlist{
	display: flex;
	margin: auto;
  list-style-type: none;	
    margin-left: auto;	
    align-items: flex-start;	
    justify-content: flex-start;
}

li.navlist {
    margin-left: auto;
    color: black;
    margin: auto;
    border:1.5px solid #EBEBEB;
}

li.navlist:hover {
  background: #CFCFCF;
  color: black;
  border:1.5px solid #e5e5e5;
  border-radius: 12px;
  background-size: 100% 100%;
  animation: spring 300ms ease-out;
  }
  

li.navlist:active {
  transform: scale(1.05);
}

@media all and (max-width: 600px) {
   ul.navlist {
      flex-direction: column;
   }
   /* main page*/
   .main {
  min-width: calc(90% - 20px);
  max-width: calc(90% - 20px);
}
      .main2 {
  margin-top: 150px;
  min-width: calc(90% - 20px);
  max-width: calc(90% - 20px);
}
   
}



a {
  color: #6AACE6;
  text-decoration: none;
}

a.navlist {
        margin-left: auto;
    color: black;
    display: flex;
    height: 100%; 
    padding: 10px;
}

td {
    padding: 5px;
    text-align: left;
}

th{
  border-bottom:1px solid #000;
  padding-bottom:1px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 20px;
  text-align: left;
}

@keyframes spring {
  25% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.9, 0.9);
  }
  50% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.98, 0.98);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.03, 1.0);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.02, 1.02);
  }
}
 /*dark theme switcher */
@media (prefers-color-scheme: dark) {
    body{
        color: #FFFFFF;
        background-color: #242424;
        }

    .main{
        background-color: #363636;
        border-color: black;
    }
   
.navbar {
  background-color: #303030;
      border:1.5px solid #3A3A3A;
}

a.navlist {
    color: white;
}

li.navlist {
  border:1.5px solid #303030;
  }  
  
li.navlist:hover {
  background: #4E4E4E;
  border:1.5px solid #3A3A3A;
  }  
    
    main2{
        color: #FFFFFF;
    }
 
}
/* image blur and text*/
.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper > img {
  display: block;
  object-fit: cover;
  object-position: center;
}

.img-wrapper > .content {
  position: absolute;
  object-fit: contain;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper:hover > img.blur {
  filter: blur(5px);
}

.img-wrapper > .content.fade {
  opacity: 0;
}
.img-wrapper:hover > .content.fade {
  opacity: 1;
}

a.download {
color: #0061d1;
text-decoration: underline;
cursor: copy;
}

img.example{
border:1.5px hidden #e5e5e5;
border-radius: 12px;
}
1
/*Engineering stuff*/
.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  /*width: 200px;
  height: 200px;*/
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}

